src/main/mule/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00e936c8-adf6-4fe7-b6e6-7dddeeede576" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="17125058" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="1252cecc-b791-4087-bb7a-ae1b709c06cc" flowRef="choicerouterFlow" />
	<flow name="choicerouterFlow" doc:id="e576e771-bd3a-43b9-afcd-bbd42fa5acc1" >
		<http:listener doc:name="Listener" doc:id="f3e66851-8d94-4119-ba3b-02060f5b41d6" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ee0fac20-1090-4097-a57b-d21a7af859e9" message="flow start"/>
		<choice doc:name="Choice" doc:id="3c4b4ac6-26ca-4b1c-864f-16c64e4a0148" >
			<when expression='#[payload."color"=="black"]'>
				<logger level="INFO" doc:name="Logger" doc:id="901b8d39-d121-4c88-9744-3f319f1098cb" message="#['color is black']"/>
			</when>
			<when expression='#[payload."color"=="red"]'>
				<logger level="INFO" doc:name="Logger" doc:id="44c12232-a498-4702-a8a8-69303e5209ea" message='#["color is red"]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a97cec33-9a24-4974-affe-d29e23f2c182" message="#['neither some other color']"/>
			</otherwise>
		</choice>
	</flow>
</mule>
